body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

header {
    background: #020617;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: cyan;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px;
    background: linear-gradient(45deg, #0ea5e9, #9333ea);
}

.btn {
    background: cyan;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid white;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
}
